.ContactUs {
    &-header {
        display: flex;
        margin-bottom: 18px;
        align-items: center;
        img{
            margin-right: 24px;
            flex: 0 0 auto;
        }
        &-title {
            margin-bottom: 0;
            color: $color-secondary;
        }
        &-subtitle {
            margin: 0;
            color: $color-secondary;
        }
    }
}

.ContactCta {

	.Section-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 72px;
	}

    &-info {
        align-self: center;
        max-width: 50%;
        margin-bottom: 0;
        margin-left: 36px;
        @include font-size(20px);
        text-align: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            .Icon {
                margin-right: -30px;
                margin-left: 12px;
            }
            span {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &-person {
        align-self: center;
        text-align: center;
        color: $color-secondary;
        > * {
            display: block;
        }
    }

    &-image {
        border: 2px solid $white;
        border-radius: 100%;
        display: inline-block;
        margin-bottom: 6px;
    }

    &-schedule {
        @include font-size(20px);
    }
    @include breakpoint(md) {

        .Section-wrapper {
            flex-direction: column;
        }

        .ContactCta-info {
            max-width: 100%;
            margin-left: 0;
            text-align: center;
            order: 2;
        }

        .ContactCta-person {
            order: 1;
        }

    }
}