.Hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $white;

    &-content {
        z-index: 1;
        padding: 12px 18px;
        max-width: 968px;
        margin: auto;
    }

    &-title {
        font-weight: $font-weight-light;
        color: $white;

    }

    &-tagline {
        @include font-size(24px);
        line-height: 30px;
        margin-bottom: 0;
    }

    &-cta {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
        margin-bottom: 24px;
        color: rgba($white, .5);
        text-transform: uppercase;
        .Icon {
            margin-top: 6px;
        }
    }

    @include breakpoint(md) {
        .Hero-content {
            max-width: 420px;
        }
        .Hero-title {
            @include font-size(36px);
            line-height: 40px;
        }
        .Hero-tagline {
            @include font-size(24px);
            line-height: 30px;
        }
    }
}
