.Logo {
    display: flex;
    padding-top: 3px;
    color: $white;
    text-decoration: none;
    img {
        margin-right: 6px;
    }
    span {
        align-self: flex-end;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 0.1em;
    }
    @include breakpoint(md) {
        display: block;
        text-align: center;
        span {
            display: block;
        }
    }
}

