.MainHeader {
    display: flex;
    flex-direction: column;

    &--full {
        height: 100vh;
    }

    &-content {
        box-sizing: border-box;
        height: 60px;
        margin-bottom: -60px;
        padding: 24px 0;
        background: $grey-dark;
    }

    &-content-wrapper {
        position: relative;
        z-index: 1;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
    }

    &-hero {
        flex: 1 0 auto;
    }


    &-form {
        flex: 0 0 auto;
        padding: 0 36px;
        &-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        input {
            margin: 0 0 0 auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        button {
            min-width: 250px;
            margin-right: auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &-nav {
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 12px;
                flex: 0 0 auto;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        a {
            color: $white;
            &.is-active,
            &:focus,
            &:active,
            &:hover {
                color: $color-primary;
            }
        }

    }

    &-nav-header,
    &-navTrigger,
    &-phone {
        display: none;
    }

    @include breakpoint(md) {
        .MainHeader-nav {
            position: absolute;
            top: 0;
            left: 0;
            padding-bottom: 12px;
            background: rgba($grey-darker, .9);
            width: 100%;
            text-align: center;
            transform: translateY(-100%);
            transition: transform 400ms $timing-bezier-swiftOut;
            &.is-open {
                transform: translateY(0);
            }
            &-header {
                display: block;
                padding: 16px;
                background: rgba($black, .2);
            }
            ul {
                display: block;
                li a {
                    line-height: 56px;
                    @include font-size(18px);
                }
            }
            .MainHeader-navTrigger {
                position: absolute;
                top: 31px;
                right: 12px;
            }
            .MainHeader-phone {
                display: inline-block;
            }
        }
        .MainHeader-content {
            padding: 0;
        }
        .MainHeader-content-wrapper {
            padding: 16px 12px;
            background: rgba($black, .5);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .MainHeader-navTrigger,
        .MainHeader-phone {
            display: block;
        }
    }



}
