.MainFooter {
    background-color: $blue-dark;
    color: $white;
    text-align: center;
    padding-bottom: 18px;
    &-wrapper {
        max-width: 768px;
        margin: 0 auto;

        padding: 12px 0 18px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $blue-darker;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 12px 0 6px;
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 12px;
                flex: 0 0 auto;
            }
        }
        a {
            color: $white;
            &:hover {
                color: $color-primary;
            }
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        li {
            margin: 0 18px;
            flex: 0 0 auto;
        }
        a {
            color: $blue-light;
        }
    }

    @include breakpoint(sm) {
        .MainFooter-wrapper {
            padding: 26px 0;
        }
        .MainFooter-nav {
            ul {
                display: block;
            }
            a {
                @include font-size(15px);
                line-height: 24px;
            }
        }
    }
}


.Prizes {
    display: flex;
    justify-content: space-around;
    @include breakpoint(sm) {
        display: block;
        img {
            display: block;
            margin: 0 auto 12px;
        }
    }
}