.Map {
    position: relative;
    &-address {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        max-width: 768px;
        transform: translateX(-50%);
        text-align: center;
        &-wrapper {
            box-sizing: border-box;
            width: 226px;
            padding: 24px;
            margin-top: 36px;
            margin-left: 36px;

            background: $white;
        }
    }
}
