.NewsletterForm {
    width: 100%;

    label {
        display: block;
        @include font-size(24px);
        margin-bottom: 12px;
    }

    &-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 72px;
    }

    @include breakpoint(small) {
        flex-wrap: wrap;
        label {
            width: 100%;
            text-align: center;
            margin-bottom: 18px;
        }
    }
}
