.TestimonialsCta {
    box-sizing: border-box;
    background-image: url('images/bg-testimonials.jpg');
    background-size: cover;
    background-position: center center;
    color: $white;

    .Section-wrapper {
        flex: 1 0 140px;
        padding: 0 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-quote {
        align-self: center;
        max-width: 50%;
        margin-bottom: 0;
        margin-left: 36px;
        color: $white;
        @include font-size(32px);
        font-style: italic;
        line-height: 46px;
    }

    &-person {
        align-self: center;
        text-align: center;
        line-height: 20px;
        @include font-size(16px);
        > * {
            display: block;
        }
    }

    &-image {
        border: 2px solid $white;
        border-radius: 100%;
        display: inline-block;
        margin-bottom: 6px;
    }
    @include breakpoint(md) {
        .Section-wrapper {
            flex-direction: column;
        }
        .TestimonialsCta-quote {
            max-width: 100%;
            margin-left: 0;
            text-align: center;
            margin-bottom: 24px;
        }
        .TestimonialsCta-image {
            display: none;
        }
    }
}

.Testimonial {
    margin: 0 24px;
    img {
        margin: 0 auto 24px;
        border: 4px solid $white;
        border-radius: 100%;
    }
    p {
        text-align: center;
    }
    strong {
        display: block;
    }
}
