.TextBlock {

    h1, h2, h3, h4, h5, h6 {
        color: $grey-darker;
        font-weight: $font-weight-semi-bold;
    }

    h3 {
        @include font-size(16px);
    }


    ul {
        margin-bottom: 24px;
        li {
            margin-left: 24px;
            list-style: disc;
        }
    }
    ol {
        li {
            margin-left: 24px;
            list-style: decimal;
        }
    }

}
