.Transformations {
	ul {
		margin-bottom: 0;
	}

	&-item {
		margin-bottom: 72px;
	}

	&-item-slider {
		&.slick-slider {
			margin: 0 0 48px 0;
			padding: 0;
		}

		.slick-slide {
			margin: 0;
		}

		.slick-arrow {
			z-index: 100;
			top: auto;
			transform: none;
			bottom: -38px;
			font-size: 14px;
			line-height: 20px;
			height: auto;
			width: auto;
			color: $grey;
			text-transform: uppercase;
			&:before {
				display: none;
			}
			&.slick-disabled {
				color: $color-primary;
			}
			&:hover {
				color: $color-primary;
			}
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}


	&-item-paging {
		margin: 12px 0 48px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		button {
			color: $grey;
			text-transform: uppercase;
			&.is-active {
				color: $color-primary;
			}
		}
	}

	&-item-paging-item {
		background: $grey;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		&.is-active {
			background: $color-primary;
		}
		&:nth-of-type(1) {
			margin-right: 6px;
			margin-left: auto;
		}
		&:nth-of-type(2) {
			margin-right: auto;
			margin-left: 6px;
		}
	}

	&-paging {
		text-align: center;
		p {
			margin-bottom: 8px;
		}
		&-item {
			margin: 0 6px;
		}
	}
}

.TransformationsFilters {
	&-header {
		display: none;
		position: relative;
		margin: 0 -18px 18px;
		padding: 18px;
		background: #b7b7b7;
		text-align: center;
		&-title {
			margin: 0;
			color: $white;
		}
		&-close {
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translateY(-50%);
		}
	}
	@include breakpoint(sm) {
		.Section {
			padding-top: 0;
			background: $grey-light;
		}
		.TransformationsFilters-header {
			display: block;
		}
	}
}
.TransformationsFilters-trigger {
	padding: 18px;
}


.TransformationSection {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -16px 0;
	&-item {
		padding: 16px;
		box-sizing: border-box;
		flex: 1 0 33.333%;
		max-width: 33.333%;
		img {
			width: 100%;
		}
		&--large {
			flex: 1 0 66.666%;
			max-width: 66.666%;
		}
	}

	@include breakpoint(sm) {
		.TransformationSection-item {
			flex: 1 0 100%;
			max-width: 100%;
			min-width: 100%;
			&--large {
				flex: 1 0 100%;
				max-width: 100%;
			}
		}
	}
}

