/* =======================================================================
Button Base
========================================================================== */
$button-radius: 27px;
$button-border-width: 2px;

%button-reset {
    cursor: pointer;
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;
    &:focus {
        outline: none;
    }
}

button {
    @extend %button-reset;
}


.Button {
    box-sizing: border-box;
    display: inline-block;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 3px;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    transition: all 200ms ease-in;
    text-align: center;
}

// Button styles
// Orange button
.Button--primary {
    background: $color-primary;
    color: $white;
    &:focus,
    &:hover {
        color: $white;
    }
}

.Button--primary-alt {
    background: $blue-dark;
    color: $white;
    &:focus,
    &:hover {
        color: $white;
    }
}

// Transparent grey button
.Button--secondary {
    background: transparent;
    color: rgba($white, .5);
    border: 2px solid #464646;
    &:hover {
        border-color: $white;
    }
}

// Light grey button
.Button--tertiary {
    background: $grey;
    color: $color-secondary;
    &:hover {
        color: $color-secondary;
    }
}




// Button sizes

.Button--wide {
    width: 320px;
    @include breakpoint(sm) {
        width: 100%;
    }
}

.Button--block {
    display: block;
    width: 100%;
}
