/* =======================================================================
Basic colors
========================================================================== */
$white: #ffffff;

$grey-light: #f2f2f2;
$grey: #cccccc;
$grey-dark: #666666;
$grey-darker: #333333;

$black: #05070a;
$black-true: #000000;

$blue-darker: #002945;
$blue-dark: #003c64;
$blue-light: #3c97d6;

$orange: #ff6a07;
$orange-dark: #ca4c05;

/* =======================================================================
Brand colors
========================================================================== */
$color-primary: $orange;
// $color-primary-highlight: $blue-light;
$color-primary-background: $orange-dark;

$color-secondary: $blue-dark;

/* =======================================================================
States colors
========================================================================== */
// $color-success: $green;
// $color-success-highlight: $green-light;
//
// $color-warning: $yellow;
// $color-warning-highlight: $yellow-light;
//
// $color-danger: $red;
// $color-danger-highlight: $red-light;

/* =======================================================================
Context colors
========================================================================== */
$color-selection: $color-primary;

/* =======================================================================
Font
========================================================================== */
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack-alt: Georgia, serif;
$font-size-base: 16px;

$font-color-base: $grey-dark;
$font-color-heading: $color-secondary;

$line-height-base: 1.6;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

/* =======================================================================
Layers
========================================================================== */


/* =======================================================================
Layout
========================================================================== */

/* =======================================================================
Animations
========================================================================== */
$timing-bezier-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$timing-bezier-easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$timing-bezier-swiftOut: cubic-bezier(.55, 0, .1, 1);

/* =======================================================================
Breakpoints
========================================================================== */
$breakpoints: (
    'xs': 320px,
    'sm': 480px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    'xx': 1330px
) !default;



