.img-responsive {
    display: block;

    max-width: 100%;
    height: auto;
}

@each $name, $size in $breakpoints {
    .u-hidden-#{$name}-up {
        @include breakpoint-gt($name) {
            display: none !important;
        }
    }

    .u-hidden-#{$name}-down {
        @include breakpoint-lte($name) {
            display: none !important;
        }
    }
}

@media print {
    .u-hidden-print {
        display: none!important;
    }
}